/* import font  */
/* weights 400 */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
/* weights 700 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* set up page */
*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}


/* Add :root  */
:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212,45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --font-weight-400: 400;
    --font-weight-700: 700;
}

/* set up body */
body{
    font-family: "Outfit";
    font-size: 15px;
    background-color: var(--light-gray);
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.card {
    display: flex;
    flex-direction: column;
    height: 497px;
    width: 320px;
    background-color: var(--white);
    padding: 16px;
    border-radius: 20px;
}
.image-qr-code {
    width: 288px;
    border-radius: 10px;
    margin-bottom: 24px;
  }

  h1 {
    font-size: 1.25rem;
    text-align: center;
    line-height: 28px;
    margin-bottom: 16px;
    color: var(--dark-blue);
    padding: 0 15px;
    font-weight: var(--font-weight-700);
  }
  
  p {
    font-size: 0.9rem;
    color: var(--grayish-blue);
    font-weight: var(--font-weight-400);
    text-align: center;
    padding: 0 12px;
    letter-spacing: 0.5px;
  }


  .attribution{
    margin-top: 100px;
    color: var(--grayish-blue);
  }

  a{
    color: coral;
  }

  #front-end-mentor{
    color:var(--dark-blue);
  }